body {
  font-family: 'Mulish, Open Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.font--large-title {
  font-weight: 900 !important;
  font-size: 48px;
}

.font--title-1 {
  font-weight: 900 !important;
  font-size: 40px;
}

.font--title-2 {
  font-weight: 400 !important;
  font-size: 32px;
}

.font--title-3 {
  font-weight: 700 !important;
  font-size: 22px;
}

.font--text {
  font-weight: 400 !important;
  font-size: 22px;
}

.font--callout-2 {
  font-weight: 700 !important;
  font-size: 16px;
}

.font--label {
  font-weight: 900 !important;
  font-size: 16px;
  text-decoration: none;
}


.full-width {
  width: 100%;
}

// TODO: так не работает разобраться почему. background: linear-gradient(100.07deg, var(--v-theme-yellow) 0.59%, var(--v-theme-warning) 94.37%);
.v-btn.button {
  &--primary {
    background: linear-gradient(100.07deg, #FFD31F 0.59%, #F15E2F 94.37%);
    padding: 36px;
    border-radius: 36px;
    box-shadow: none;
    display: flex;

    .v-btn__content {
      color: #fff;
      font-weight: 800;
      font-size: 20px;
    }
  }
}
